---
import Section from "../Section.astro"

import { certificates } from "@cv"
---

<Section title="Certificados">
  <ul>
    {
      certificates.map(({ name, date, issuer, url }) => {
        const startYear = new Date(date).getFullYear()

                        return (
                            <li>
                                <article>
                                    <header>
                                        <div>
                                            <h3>{name}</h3>
                                        </div>

                                        <time>{startYear}</time>
                                    </header>

                                    <footer>
                                        <p>{issuer}</p>
                                        <a href={url} target="_blank" rel="noopener noreferrer">Ver certificado</a>
                                    </footer>
                                </article>
                            </li>
                        )
                    })
                }
            </ul>
        </Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  footer a:hover {
    background: #eee;
    border: 1px solid #ddd;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
